:root{
    --white-color: white;
    --light-gray: gray;
    --gray-text : gray;
    --dark-gray-text:rgb(139, 136, 136);
    --nav-search-bg:rgb(238, 238, 238);
    --e-primary-color : #8447FF;
    --beige-color:beige;
    --light-gray-bg : #F7F7F7;
}